.card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $azul;
    margin: 10px;
    max-width: 350px;
    min-width: 200px;
    
    border-radius: 25px;
    overflow: hidden;
    
    .card-div-img{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{width: 100%;border-radius: 25px;object-fit: cover;}
    }
    .card-div-txt{
        position:absolute;
        z-index: 2;
        text-align: center;
        @include d-flex-center;
        flex-direction: column;
        padding: 25px;
        .card-div-title, .card-div-p{color: $blanco;}
        .card-div-title, .card-div-p, .card-div-link{display: none;}
    }

    &:hover{
        .card-div-img{filter: opacity(10%);}
        .card-div-title, .card-div-p, .card-div-link{display: block;}
    }

}