.herodiv{
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    padding: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .hero_presentation{
        margin: auto;
        width: 100%;
        max-width: 1080px;
        background-color: $rosa;
    }
    .heroText{
        font-weight: 700;
        font-size: 5rem;
    }
}