.ilustraciónGrande{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    padding: 120px 0px;
    overflow: hidden;
    .ilustraciónGrande-contenedor{
        position: relative;
        z-index: 15;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ilustraciónGrande-div-btn{
            display: flex;
            width: 100%;
            justify-content: flex-start;
        }

        .ilustraciónGrande-div-img{
            width: 100%;
            max-width: 1080px;
            

            #bigImg{
                width: 100%;
                height: auto;
                max-height: 80vh;
                object-fit: contain;}
        }

    }
    
    .ilus-Bg{
        background-color: $blanco50;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 100vh;
        width: 100vw;
        backdrop-filter: blur(10px);
    }

}