.proyectos{
    width: 100vw;
    position: relative;
    z-index: 1;
    
    padding-top: 120px;
    .proyectos-div{
        position: relative;
        z-index: 1;
        @include div-width;

        .proyectos-div-sec{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .category{
                background-color: $verde;
                width: 30%;
                min-width: 50px;
                min-height: 100px;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                &:hover{
                    font-weight: 600;
                }
            }
        }

    }
}